.main
  .estimates
    %h1.estimates__title
      = @user.name
      様の見積履歴
    .estimates__content
      .estimate
        .estimate__header
          %h3 見積一覧
        .estimate__body
          .informationbox
            - @estimates.each do |estimate|
              .informationbox__inner
                = l estimate.created_at, format: :short
                .estimate-content
                  .customer-info
                    .customer-info__company
                      #{estimate.customer.company_name} 御中
                    .customer-info__department
                      = estimate.contact_person.department
                    .customer-info__position
                      = estimate.contact_person.position
                    .customer-info__name
                      #{estimate.contact_person.name} 様
                  .details
                    - estimate.estimate_details.each.with_index do |detail, index|
                      .details__info
                        .details__info__item-name
                          #{index + 1} #{detail.item.item_name}
                        .details__info__volume
                          #{detail.volume} 個
                        .details__info__price
                          #{detail.price} 円
