<%= form_with model: @estimate, url: "/estimates", local: true do |f|%>
  <div class="input-area">
    <%= f.label :effective, "有効期限", class: "input-area__title" %>
    <%= f.text_field :effective, autofocus: true, autocomplete: "effective", class: "input-area__text-field" %>
  </div>
  <div class="input-area">
    <%= f.label :note, "備考", class: "input-area__title" %>
    <%= f.text_field :note, autofocus: true, autocomplete: "note", class: "input-area__text-field" %>
  </div>
  <div class="input-area">
    <%= f.label :volume, "数量", class: "input-area__title" %>
    <%= f.text_field :volume, autofocus: true, autocomplete: "volume", class: "input-area__text-field" %>
  </div>
  <div class="input-area">
    <%= f.label :price, "価格", class: "input-area__title" %>
    <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "input-area__text-field" %>
  </div>
  <div class="input-area">
    <%= f.label :customer_company, "会社名", class: "input-area__title" %>
    <%= f.text_field :customer_company, autofocus: true, autocomplete: "customer_company", class: "input-area__text-field" %>
  </div>
  <div class="input-area">
    <%= f.label :name, "担当者名", class: "input-area__title" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-area__text-field" %>
  </div>

  <div class="input-area">
    <%= f.submit "登録", class: "submit-btn" %>
  </div>
<% end %>
