.main
  .form-estimate
    .form-estimate__title
      見積書作成ページ
    = form_with model: @estimate, url: "/estimates", local: true do |f|
      .form-estimate__content
        .form-estimate__content__right
          .form-estimate__content__right__input
            .input-area
              = f.label :company_name, "会社名", class: "input-area__title"
              = f.text_field :company_name, autofocus: true, autocomplete: "company_name", class: "input-area__text-field"
            .input-area
              = f.label :department, "部署", class: "input-area__title"
              = f.text_field :department, autofocus: true, autocomplete: "department", class: "input-area__text-field"
            .input-area
              = f.label :position, "役職", class: "input-area__title"
              = f.text_field :position, autofocus: true, autocomplete: "position", class: "input-area__text-field"
            .input-area
              = f.label :name, "担当者名", class: "input-area__title"
              = f.text_field :name, autofocus: true, autocomplete: "name", class: "input-area__text-field"
            .input-area
              = f.label :effective, "有効期限", class: "input-area__title"
              = f.date_field :effective, autofocus: true, autocomplete: "effective", class: "input-area__text-field"
        .form-estimate__content__left
          .form-estimate__content__left__input
            .input-area-left.item-name
              = f.label :item_name, "商品名", class: "input-area-left__title"
              = f.text_field :item_name, autofocus: true, autocomplete: "item_name", class: "input-area-left__text-field"
            .input-area-left.item-volume
              = f.label :volume, "数量", class: "input-area-left__title"
              = f.text_field :volume, autofocus: true, autocomplete: "volume", class: "input-area-left__text-field"
            .input-area-left.item-price
              = f.label :price, "価格", class: "input-area-left__title"
              = f.text_field :price, autofocus: true, autocomplete: "price", class: "input-area-left__text-field"
            %button.item-add-js-btn(type="button")
              +
            %button.item-delete-js-btn(type="button")
              &minus;
      .input-area
        = f.label :note, "備考", class: "input-area-left__title"
        = f.text_field :note, autofocus: true, autocomplete: "note", class: "input-area-left__text-field"
      .input-area
        = f.submit "登録", class: "submit-btn"
