.main
  .mypage
    %h1.mypage__title
      = @user.name
      様の登録情報
    .mypage__content
      .profile
        .profile__header
          %h3 会員登録情報
        .profile__body
          %table.informationbox
            %tr.informationbox__inner
              %th.user-info 基本情報
              %td.details
                %p.details__big= @user.name
                %p= @user.email
                %br/
              %td.change
                %p.btn
                  = link_to "ユーザー編集", edit_user_registration_path, class: "edit-btn"
            %tr.informationbox__inner
              %th.company-info 会社情報
              %td.details
                %p.details__middle= @company.name
                %p
                  〒#{@company.postal_code}
                %p= @company.address
                %p
                  電話番号:#{@company.tel}
                %p
                  FAX番号:#{@company.fax}
              %td.change
                %p.btn
                  = link_to "会社情報編集", edit_company_path, class: "edit-btn"

  .estimates
    %h1.estimates__title
      見積履歴
      = link_to "一覧", estimates_path(@user)
    .estimates__content
      .estimate
        .estimate__header
          %h3 
        .estimate__body
          .informationbox
            - @estimates.last(5).each do |estimate|
              .informationbox__inner
                = l estimate.created_at, format: :short
                .estimate-content
                  .customer-info
                    .customer-info__company
                      #{estimate.customer.company_name} 御中
                    .customer-info__department
                      = estimate.contact_person.department
                    .customer-info__position
                      = estimate.contact_person.position
                    .customer-info__name
                      #{estimate.contact_person.name} 様
                  .details
                    - estimate.estimate_details.each.with_index do |detail, index|
                      .details__info
                        .details__info__item-name
                          #{index + 1} #{detail.item.item_name}
                        .details__info__volume
                          #{detail.volume} 個
                        .details__info__price
                          #{detail.price} 円