<div class="main">
  <div class="mypage">
    <h1 class="mypage__title">
      <%= @user.name %>様の登録情報
    </h1>
    <div class="mypage__content">
      <div class="profile">
        <div class="profile__header">
          <h3>会員登録情報</h3>
        </div>
        <div class="profile__body">
          <table class="informationbox">
            <tr class="informationbox__inner">
              <th class="user-info">基本情報</th>
              <td class="details">
                <p class="details__big"><%= @user.name %>　様</p>
                <p><%= @user.email %></p><br>
              </td>
              <td class="change">
                <p class="btn">
                  <%= link_to "ユーザー編集", edit_user_registration_path, class: "edit-btn" %>
                </p>
              </td>
            </tr>
            <tr class="informationbox__inner">
              <th class="company-info">会社情報</th>
              <td class="details">
                <p class="details__middle"><%= @company.company_name %></p>
                <p>〒<%= @company.postal_code %></p>
                <p><%= @company.address %></p>
                <p>電話番号:<%= @company.tel %></p>
                <p>FAX番号:<%= @company.fax %></p>
              </td>
              <td class="change">
                <p class="btn">
                  <%= link_to "会社情報編集", "/", class: "edit-btn" %>
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
