<header class = "header-nav">
  <div class = "header-nav__bar">
    <h2 class = "app-title">
      <%= link_to "Premi", root_path %>
    </h2>
    <% if user_signed_in? %>
      <div class = "login-btn">
        <%= link_to "ログアウト", destroy_user_session_path, :method => :delete%>
      </div>
    <% elsif request.path == "/signup/step1" %>
      <div class = "login-btn">
        <%= link_to "ログインはこちら", new_user_session_path%>
      </div>
    <% elsif request.path == "/users/sign_in" %>
      <div class = "login-btn">
        <%= link_to "新規登録はこちら",  step1_signup_index_path%>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class = "header-nav__menu">
      <div class = "header-nav__menu__item">
        ホーム
      </div>
      <div class = "header-nav__menu__item">
        <%= link_to "マイページ", user_path(current_user) %>
      </div>
      <div class = "header-nav__menu__item">
        取引先一覧
      </div>
      <div class = "header-nav__menu__item">
        商品一覧
      </div>
    </div>
  <% end %>
</header>